.videoslider {
	height: 100%;
	background-color: black;
}

.videoslider__desktop,
.videoslider__mobile,
.videoslider .swiper-container {
	height: 100%;
}

.videoslider__desktop,
.videoslider__mobile {
	display: none;
}

.videoslider__desktop.active,
.videoslider__mobile.active {
	display: block;
}

/* loading */

.videoslider__mobile-loading,
.videoslider__desktop-loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 2;
	transition: opacity .5s;
}

.videoslider__mobile-loading::after,
.videoslider__desktop-loading::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	width: 21px;
	height: 21px;
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.videoslider__mobile .swiper-slide.image-loaded .videoslider__mobile-loading,
.videoslider__desktop-item.video-canplay.image-loaded .videoslider__desktop-loading {
	opacity: 0;
}

/* desktop */

.videoslider__desktop-item {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.videoslider__desktop video {
	position: absolute;
	top: 50%;
	left: 50%;
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	margin: auto;
	z-index: 1;
	display: none;
}

.videoslider__desktop-item.video-canplay video {
	display: block;
}

/* mobile */

.videoslider__mobile .swiper-slide {
	display: block;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	overflow: hidden;
}